<main class="container">
  <div class="modal-overlay">
    <div class="modal">
      <div class="login">
        <form class="login__form">
          <h1 class="login__title">Вход</h1>
          {{{inputLogin}}}
          {{{inputPassword}}}
          {{{buttonLogin}}}
          {{{buttonRegistration}}}
          <div class="error">{{store.state.loginFormError}}</div>
        </form>
      </div>
    </div>
  </div>
</main>
