<main class="container">
    {{{chatBar}}}
    <section class="chat">
        <div class="chat__content">
            {{{chatHeader}}}
            <div class="chat__messages">
                {{#each chatMessagesGroups}}
                {{{this}}}
                {{/each}}
            </div>
            <div class="chat__footer">
                <div class="chat__footer__button-container">
                    {{{buttonUpload}}}
                </div>
                <form class="chat__footer__form">
                    {{!-- Решение не использовать стандартный input обусловлено удобством и красотой для ввода
                    многострочного текста --}}
                    {{{inputMessage}}}
                    {{{buttonSend}}}
                </form>
            </div>
        </div>
    </section>
</main>