<main class="container">
  {{{chatBar}}}
  <section class="chat">
    {{#if currentChat}}
      <div class="chat__content">
        {{{chatHeader}}}
        {{{chatContent}}}
        <div class="chat__footer">
          <div class="chat__footer__button-container">
            {{{buttonUpload}}}
            {{{popupUpload}}}
          </div>
          <form class="chat__footer__form">
            {{{inputMessage}}}
            {{{buttonSend}}}
          </form>
        </div>
      </div>
    {{else}}
      <p class="chat__noChosenChatText">Выберите чат чтобы отправить сообщение</p>
    {{/if}}
  </section>
  {{{modalAddUser}}}
  {{{modalDeleteUser}}}
  {{{modalAddChat}}}
  {{{modalUploadChatAvatar}}}
</main>
