<li class="chat-bar__chat-list__item {{#if isActive}}chat-bar__chat-list__item_active{{/if}}">
  <a class="chat-bar__chat-list__wrapper">
    {{#if avatar}}
      <img
        class="chat-bar__chat-list__image"
        src="{{avatar}}"
        alt="Фото профиля"
      />
    {{else}}
      <img
        class="chat-bar__chat-list__image"
        src="{{noAvatar}}"
        alt="Нет фото"
      />
    {{/if}}
    <div class="chat-bar__chat-list__information">
      <p class="chat-bar__chat-list__information_name">{{title}}</p>
      <p class="chat-bar__chat-list__information_text {{#if isActive}}chat-bar__chat-list__information_text_active{{/if}}">{{lastMessage.content}}</p>
    </div>
    <p class="chat-bar__chat-list__date {{#if isActive}}chat-bar__chat-list__date_active{{/if}}">
      {{timestamp}}
    </p>
    {{#if unreadCount}}
      <div class="chat-bar__chat-list__count">
        {{unreadCount}}
      </div>
    {{/if}}
  </a>
</li>
