<div class="chat__header">
  <div class="chat__header__information">
    {{#if avatar}}
      <img
        class="chat__header__information__image"
        src="{{userAvatar}}"
        alt="Аватар"
      />
    {{else}}
      <img
        class="chat__header__information__image"
        src="{{noAvatar}}"
        alt="Аватар"
      />
    {{/if}}
    <p class="chat__header__information__name">
      {{userName}}
    </p>
  </div>
  <div class="chat__header__button-container">
    {{{buttonTools}}}
    {{{popupSettings}}}
  </div>
</div>
